.enter-page {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.enter-page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.enter-page img {
    width: 130px;
    height: 92px;
    margin-top: 72px;   
    object-fit: cover;
}

.enter-box {
    width: 260px;
    height: 114px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.enter-name {
    width: 100%;
    height: 54px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    text-align: center;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #aeaeae;
}

.enter {
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 9px;
    text-align: center;
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
}

.loading {
    width: 100%;
    height: 160px;
    text-align: center;
    position: fixed;
    top: 220px;
    left: 0;
    background-color: #fff;
}

.loading img {
    width: 110px;
    height: 130px;    
    margin: auto;
}



